build/
dist/
nbproject/
source/nbproject
*.tag
*.o
*.d
*.a
*.html
*.js
*.css
*.png
logo/
various/
*.svg
*.map
*.md5
nbproject/**
various/**
./.*
.*
coverage/**
dist/**
*.info
html/*
octave-workspace
.~lock*
*.odt
*~
Configuration
main.cpp
source/main.cpp
*.mk
main.cpp
